body{
    margin-left: 150px;
    margin-right: 150px;
    background-image: url(Img/back.jpg);
}
.Back{
    background: rgb(246, 255, 248);
    background: linear-gradient(90deg, rgb(248, 255, 250) 0%, rgb(220, 248, 234) 29%, rgba(8,164,195,1) 100%);
}
.Back02{
    background-color: #d0f5fc;
}
.Back03{
    background-color: white;
}
.Display{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 10px 10px;
}
.displayText{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.BandeiraTop{
    width: 120px;
}

.LogoTop{
    padding: 15px 15px 15px;
    width: 13%;
}
.Text{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text01{
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.EditImgFlex{
    display: flex;
    justify-content: space-between;
  
}
.EditImg{
    width: 32%;
    padding: 5px 5px 5px;
}
.BottonsDisplay{
    display: flex;
    justify-content: space-around;
}
a:link, a:visited {
    background-color: #d0f5fc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 8px 40px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 0px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
a:hover, a:active {
    background-color: rgb(144, 209, 235);
    color: white;
}
.LogoInsta{
    width: 40px;
}
